 <div *ngIf="country">
    <div style="display: flex;flex-wrap: wrap;">
        <div>
            <img style="height: 200px;width: 300px;" src={{country.flags[0]}} />
        </div>
        <div>
            <h3>{{country.name.common}}</h3>
            <div>{{country.name.official}}</div>
            <div>{{country.capital}}</div>
            <div>{{country.region}}</div>
            <div>{{country.subregion}}</div>
            <div>{{country.area}}</div>
        </div>
    </div>
    <div>
        <div>
            <span>{{country.status}}</span>
            <span *ngIf="country.unMember"> UN Member</span>
        </div>
    </div>
    <div>
        <span *ngFor="let border of country.borders" 
                routerLink="{{ '/' + border}}">
            {{border}}
        </span>
    </div>
    
</div>