<form [formGroup]="form">
  <mat-form-field appearance="outline">
    <mat-label>Region</mat-label>
    <input matInput formControlName="region" placeholder="Ex. Asia" [matAutocomplete]="regionsAuto"/>
    <mat-autocomplete #regionsAuto="matAutocomplete">
      <mat-option *ngFor="let region of regions" [value]="region">
        {{region}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Country</mat-label>
    <input matInput formControlName="country" placeholder="Ex. Germany" [matAutocomplete]="countriesAuto"/>
    <mat-autocomplete #countriesAuto="matAutocomplete">
      <mat-option *ngFor="let country of countries" [value]="country">
        {{country}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>