<div *ngIf="country" class="container">
    <mat-card>
        <mat-card-header>
          <mat-card-title>{{country.name.common}}</mat-card-title>
          <mat-card-subtitle>{{country.name.official}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div class="flex-content">
                <div>
                    <img class="flag" src={{country.flags[0]}} alt="Flag">
                </div>
                <div class="primary">
                    <div class="capital">
                        <span>{{country.capital}}</span>
                    </div>
                    <div class="sub-region">
                        <span>{{country.subregion}}</span>
                    </div>
                    <div class="region">
                        <span>{{country.region}}</span>
                    </div>
                    <div class="area">
                        <span>{{country.area | number}}</span>
                        <span> km<sup>2</sup></span>
                    </div>
                    <div *ngIf="country.unMember">
                        United Nations member
                    </div>
                </div>
            </div>
            
            <mat-divider></mat-divider>
            <div class="borders">
                <div class="borders-header">Borders</div>
                <div class="border-items-container">
                    <div class="border-item" *ngFor="let border of country.borders">
                        <ng-container *ngIf="border | country | async; let borderCountry">
                            <img src={{borderCountry.flags[0]}}/>
                            <a routerLink="{{ '/' + country_route + '/' + borderCountry.cca3}}">
                                {{borderCountry?.name?.common}}
                            </a>
                            <div></div>
                        </ng-container>
                    </div>
                </div>
            </div>
        </mat-card-content>
      </mat-card>
</div>
