<table mat-table matSort [dataSource]="dataSource">
  <ng-container matColumnDef="flag">
    <th mat-header-cell *matHeaderCellDef>
      Flag
    </th>
    <td mat-cell *matCellDef="let country">
      <img loading="lazy" src="{{country.flag}}" />
    </td>
  </ng-container>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      Name
    </th>
    <td mat-cell *matCellDef="let country">
      <a routerLink="{{ '/' + country_route + '/' + country.cca3}}">{{country.name}}</a>
    </td>
  </ng-container>
  <ng-container matColumnDef="region">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      Region
    </th>
    <td mat-cell *matCellDef="let country">
      {{country.region}}
    </td>
  </ng-container>
  <ng-container matColumnDef="capital">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      Capital
    </th>
    <td mat-cell *matCellDef="let country">
      {{country.capital}}
    </td>
  </ng-container>
  <ng-container matColumnDef="area">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      Area (km<sup>2</sup>)
    </th>
    <td mat-cell *matCellDef="let country">
      {{country.area | number }}

    </td>
  </ng-container>
  <ng-container matColumnDef="borders">
    <th mat-header-cell *matHeaderCellDef>Borders</th>
    <td mat-cell *matCellDef="let country">
      <a *ngFor="let border of country.borders" 
          routerLink="{{ '/' + country_route + '/' + border}}">
          {{(border | country | async)?.name?.common}}
      </a>
    </td>
  </ng-container>

  <ng-container matColumnDef="noData">
    <td mat-footer-cell *matFooterCellDef [attr.colspan]="_displayColumns.length">
      No records found.
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="_displayColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: _displayColumns;"></tr>

  <tr mat-footer-row *matFooterRowDef="['noData']" 
        [hidden]="dataSource.data?.length !== 0"></tr>
</table>
<mat-paginator [length]="dataSource.data?.length"
              [pageSize]="20">
</mat-paginator>