table {
    width: 100%;
}

.mat-header-cell {
    padding-right: 20px;
}

.mat-cell {
    padding-right: 20px;
}

.mat-column-flag {
    img {
        height: 30px;
        width: 40px;
    }
}

.mat-column-noData {
    text-align: center;
}

.mat-column-area {
    min-width: 80px;
}

.mat-column-borders {
    a {
        padding-right: 8px;
    }
}


@media (max-width: 540px) {
    .mat-column-area {
        display: none;
    }

    .mat-column-region {
        display: none;
    }

    .mat-column-borders {
        display: none;
    }
}

@media (max-width: 1023px) {
    .mat-column-borders {
        display: none;
    }
}
